/*-- scss:defaults --*/

// 1. Define or override Sass variables here (always start with $)
$navbar-bg: #f6f5f2;
$body-bg: #fefefe;
$body-color: black;
$link-color: #C41230;
$hover-color: #C41230;
$font-family-base: "Helvetica Neue", Arial, sans-serif;
$font-size-root: 1.1em;
